
.body--light, .dark-toggle
  color $darkest

  .hyperlink
    color $primary
    text-decoration underline
    cursor pointer
    // Without this, the underline extends into the space for some reason
    // solution source: https://stackoverflow.com/questions/23182904/css-underline-text-but-ignore-the-spaces
    display inline-block

.body--dark
  .q-card--dark
    background-color $darkdialog

  .dark-toggle
    color $light

  .hyperlink
    color $darkprimary
    text-decoration underline
    cursor pointer
    // Without this, the underline extends into the space for some reason
    // solution source: https://stackoverflow.com/questions/23182904/css-underline-text-but-ignore-the-spaces
    display inline-block

h1, h2, h3, h4, h5, h6
  margin 0
  padding 0

// ============================================================
// TOKEN REDEMPTION STYLES
// ============================================================
h1, h2, h3, h4, h5, h6, .mono
  font-family monospace

// ============================================================
// TOKEN REDEMPTION STYLES
// ============================================================
.token-image
  margin-right .5em
  max-width 35px
  max-height 35px

.form
  margin 0 auto
  max-width 90%

// ============================================================
// OTHER STYLES
// ============================================================
li
  margin-top .75em